.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

  /* Modal */
  
  .boxy-modal-blackout { position: absolute; background-color: #c3c3c3; left: 0; top: 0; }
  
  /* Border */

  .boxy-wrapper { empty-cells: show; }
	.boxy-wrapper .boxy-top-left,
	.boxy-wrapper .boxy-top-right,
	.boxy-wrapper .boxy-bottom-right,
	.boxy-wrapper .boxy-bottom-left { width: 10px; height: 10px; padding: 0 }
	
	:root .boxy-wrapper .boxy-top-left { background: url('../images/boxy-nw.png'); }
	:root .boxy-wrapper .boxy-top-right { background: url('../images/boxy-ne.png'); }
	:root .boxy-wrapper .boxy-bottom-right { background: url('../images/boxy-se.png'); }
	:root .boxy-wrapper .boxy-bottom-left { background: url('../images/boxy-sw.png'); }
	
	/* IE6-8 hacks for the border. IE7+8 should support this natively but fails in conjuction with modal blackout bg. */
	/* NB: these must be absolute paths or URLs to your images */
	.boxy-wrapper .boxy-top-left {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-nw.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-nw.png')";
	}
	.boxy-wrapper .boxy-top-right {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-ne.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-ne.png')";
	}
	.boxy-wrapper .boxy-bottom-right {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-se.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-se.png')";
	}
	.boxy-wrapper .boxy-bottom-left {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-sw.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-sw.png')";
	}
	
	.boxy-wrapper .boxy-top,
	.boxy-wrapper .boxy-bottom { height: 10px; background-color: #01acf1; opacity: 0.6; filter: alpha(opacity=60); padding: 0;  }
	.boxy-wrapper .boxy-bottom{ border-radius:0px 0px 5px 5px;}
	.boxy-wrapper .boxy-top{ border-radius:5px 5px 0px 0px; }
	.boxy-wrapper .boxy-left,
	.boxy-wrapper .boxy-right { width: 10px; background-color: #01acf1; opacity: 0.6; filter: alpha(opacity=60); padding: 0; }
	
	.boxy-wrapper .boxy-let{ border-radius:5px 0px 0px 5px;}
	.boxy-wrapper .boxy-right{ border-radius:0px.;}

	/* Title bar */
	input.ok{ background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
 
   border: 0 none; border-radius: 4px; color: #fff; margin: 0 5px 0 35px; padding: 4px 7px; cursor:pointer; }
	
	
	input.cancel{
		background: -webkit-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -moz-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87288', endColorstr='#ce3b46',GradientType=0 );
 
    border: 0 none; border-radius: 4px; color: #fff; margin: 0 5px 0 10px; padding: 4px 7px; cursor:pointer;	}
	
	.boxy-wrapper .title-bar { background-color: #01acf1; padding: 6px; position: relative; }
	  .boxy-wrapper .title-bar.dragging { cursor: move; }
	    .boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
	    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }
		
	/* Content Region */
	
	.boxy-inner { overflow: hidden; background-color: white; padding: 0 }
	.boxy-content { padding: 15px; }
	
	/* Question Boxes */

    .boxy-wrapper .question { width: 350px; min-height: 80px; }
    .boxy-wrapper .answers { text-align: right; }
